<div class="row align-items-center justify-content-between h-100">
    <div class="col">
        <i class="fab fa-github text-github small"></i>
        <a class="small" href="https://github.com/BlackrockDigital/startbootstrap-blog-post">View on GitHub</a>
    </div>
    <div class="col d-none d-lg-block">
        <ul class="nav responsive-toggler justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="desktopToggle" data-toggle="tab" href="#" role="tab"
                    aria-selected="true">
                    <i class="fal fa-desktop"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mobileToggle" data-toggle="tab" href="#" role="tab" aria-selected="false">
                    <i class="fal fa-mobile"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col text-right">
        <a href="https://github.com/BlackrockDigital/startbootstrap-blog-post/archive/gh-pages.zip"
            class="btn btn-primary btn-sm mr-2 d-none d-md-inline-block"
            onclick="if (!window.__cfRLUnblockHandlers) return false; ga('send','event','Download','click','Blog Post')"
            data-cf-modified-9b881331224e3a4b3895899f-="">Free Download</a>
        <a href="https://blackrockdigital.github.io/startbootstrap-blog-post/" class="btn btn-link btn-sm"><i
                class="fal fa-times mr-1"></i> Remove Frame</a>
    </div>
</div>